<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name=”format-detection” content=”telephone=no”>
  <title>dangky4g</title>
  <link href="./assets/styles/homePage.css" rel="stylesheet" type="text/css">
  <link href="./assets/styles/media.css" rel="stylesheet" type="text/css">
  <link href="./assets/styles/napTien.css" rel="stylesheet" type="text/css">
  <link href="./assets/styles/simSoDep.css" rel="stylesheet" type="text/css">
  <link href="./assets/styles/dangKy4g.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="./assets/styles/semantic/semantic.min.css">
  <link href="./assets/fonts/fonts.css" rel='stylesheet'>
</head>

<body>
  <div class="header">
    <div class="headerLeft">
      <div class="headerLogo">
        <img src="assets/images/logo.png">
      </div>
      <div class="hamburger">
        <img onClick="toggleDropdownContainer()" src="assets/images/nav_menu.png">
      </div>
    </div>

    <div class=dropdownContainer>
      <button class="hamburgerDropdown">HOME</button>
      <button class="hamburgerDropdown">SIM SỐ ĐẸP</button>
      <button class="hamburgerDropdown">NẠP TIỀN</button>
      <button class="hamburgerDropdown">ĐĂNG KÝ 4G ONLINE</button>
      <button class="hamburgerDropdown">CHUYỂN SANG MOBI</button>
      <button class="hamburgerDropdown">LIÊN HỆ</button>
    </div>
    <div class=headerRight>
      <div class="headerUpper">
        <div class="headerHotLine">
          <span> <img src="assets/images/phone.svg"> </span>
          <a href="tel:0773885678" class="text">Hotline 077 388 5678</a>
        </div>
        <div class="HeaderAddress">Điểm giao dịch:</br>249 Minh Phụng, P.2, Q11</div>
      </div>

      <div class="headerLower">
        <button class="navigationButton threeDimensionBlueButton threeDimensionShortWhiteButton ">HOME</button>
        <button class="navigationButton threeDimensionBlueButton threeDimensionShortBlueButton simSoDep">SIM SỐ
          ĐẸP</button>
        <button class="navigationButton threeDimensionBlueButton threeDimensionShortWhiteButton">NẠP TIỀN</button>
        <button class="navigationButton threeDimensionBlueButton threeDimensionShortWhiteButton">ĐĂNG KÝ 4G
          ONLINE</button>
        <button class="navigationButton threeDimensionBlueButton threeDimensionShortWhiteButton">CHUYỂN SANG
          MOBI</button>
        <button class="navigationButton threeDimensionBlueButton threeDimensionShortWhiteButton lienHe">LIÊN HỆ</button>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="bannerCenter">
      <img src="assets/images/banner_center.png">
    </div>

    <div class="pageAnchor">
      <div class="anchorHome">TRANG CHỦ</div>
      <div class="anchorCurrent">ĐĂNG KÝ 4G</div>
    </div>


    <div class="textContainer">
      <div class="text text1">
        <div>
          1. Đăng ký 4G Mobi dễ dàng, đơn giản, Miễn phí tin nhắn đăng ký. <br>
          Các gói cước HD Mobifone mới nhất với dung lượng data khủng, hết dung lượng tự động ngắt kết nối, không lo
          phát sinh phí.
        </div>
        <div>Để kiểm tra dung lượng gói cước 3G MobiFone, bạn soạn: <span>KT Data</span> gửi <span>999</span> (200đ/
          SMS)
        </div>

        <div>Để hủy gói cước 3G MobiFone, bạn soạn: <span>HUY</span> [ Tên gói] gửi <span>999</span> (200đ/ SMS)
        </div>
      </div>
      <div class="promo">
        <div class="title" >ƯU ĐÃI:</div>
        <div>Hoàn tiền 5.000đ cho mỗi thuê bao đăng ký thành công gói cước.
        </div>

      </div>
    </div>

    <div class="packageTable">
      <table>
        <thead>
          <tr>
            <th> <div>TÊN DỊCH VỤ</div></th>
            <th> <div>GIÁ CƯỚC<br>(vnd)</div></th>
            <th> <div>Ưu đãi Data</div></th>
            <th> <div>SMS đăng ký</div></th>
            <th> <div>Đăng ký ngay</div></th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>HD70</td>
              <td>70.000đ</td>
              <td>3.8GB</td>
              <td><span>DK HD70 0902327255</span> gửi <span>909</span></td>
              <td><div class="fourGButton">
                <button class="threeDimensionBlueButton threeDimensionShortBlueButton">Đăng ký</button>
              </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="textContainer">
      <div class="text text2">
        <div>
            2. Hướng dẫn đăng ký gói mạng MobiFone trọn gói tiết kiệm hơn.
            Đăng ký ngay các gói HDP của Mobifone, có ngay dung lượng tốc độ cao, còn được gọi nội mạng miễn phí.
        </div>
        <div>Để kiểm tra dung lượng gói cước 3G MobiFone, bạn soạn: <span>KT Data</span> gửi <span>999</span> (200đ/
          SMS)
        </div>

        <div>Để hủy gói cước 3G MobiFone, bạn soạn: <span>HUY</span> [ Tên gói] gửi <span>999</span> (200đ/ SMS)
        </div>
      </div>
      <div class="promo">
        <div class="title">ƯU ĐÃI:</div>
        <div>Hoàn tiền 5.000đ cho mỗi thuê bao đăng ký thành công gói cước.
        </div>

      </div>
    </div>

    <div class="packageTable">
      <table>
        <thead>
          <tr>
            <th> <div>TÊN DỊCH VỤ</th>
            <th> <div>GIÁ CƯỚC<br>(vnd)</th>
            <th> <div>Ưu đãi Data</th>
            <th> <div>SMS đăng ký</th>
            <th> <div>Đăng ký ngay</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>HDP70</td>
              <td>70.000đ</td>
              <td>2GB + 70 phút</td>
              <td><span>DK HDP70 0902327255</span> gửi <span>909</span></td>
              <td><div class="fourGButton"><button class="threeDimensionBlueButton threeDimensionShortBlueButton">Đăng ký</button></div></td>
            </tr>
        </tbody>
      </table>

    </div>


    <div class="footer">
      <div class="footerUpper">
        <div class="footerLogo">
          <img src="assets/images/logo.png">
        </div>

        <div class="footerInfo">
          <div class="thongTinLienHe">Thông tin liên hệ:</div>
          <div class="congTy">CÔNG TY TNHH TM & DV TÂN TOÀN PHÁT</div>
          <div class="footerAddress">
            <span> <img src="assets/images/icon_location.svg"> </span>
            <span class="text"> 249 Minh Phụng, phường 2, Quận 11, Hồ Chí Minh.</span>
          </div>
          <div class="footerHotline">
            <span> <img src="assets/images/icon_phone.svg"></span>
            <a href="tel:0773885678" class="text">077 388 5678</a>
          </div>
        </div>
        <div class="footerPlugin">
          <div class="follow">Follow us:</div>
          <div>
            <img class="pluginFacebook" src="assets/images/icon_facebook.png">
            <img class="pluginInstagram" src="assets/images/icon_instagram.png">
          </div>
        </div>
      </div>
      <div class="footerLower">&copy; 2019 Copyright MOBIFONE SAI GON. All right reserved. Site by NATA Media Agency.
      </div>

    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="./assets/styles/semantic/semantic.min.js" type="text/javascript"></script>

    <!-- Custom scripts -->
    <script>
      function toggleDropdownContainer() {
        var dropdownContainer = document.getElementsByClassName("dropdownContainer")[0];

        if (dropdownContainer && dropdownContainer.style.display == "" || dropdownContainer.style.display == "none") {
          dropdownContainer.style.display = "flex";
        } else if (dropdownContainer && dropdownContainer.style.display == "flex") {
          dropdownContainer.style.display = "none";
        }
      }

      function showTooltip(event) {
        event.preventDefault();
        if (screen.width < 800) {
          return hideTooltip();
        }
        var tooltip = document.getElementsByClassName("tooltip")[0];
        if (tooltip != undefined) {
          tooltip.style.display = "block"
        }
      }

      function hideTooltip() {
        var tooltip = document.getElementsByClassName("tooltip")[0];
        if (tooltip != undefined) {
          tooltip.style.display = "none"
        }
      }
      // Init Semantic UI components
      $('.ui.dropdown')
        .dropdown();
    </script>
</body>

</html>