<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>simsodep</title>
  <link href="./assets/styles/homePage.css" rel="stylesheet" type="text/css">
  <link href="./assets/styles/media.css" rel="stylesheet" type="text/css">
  <link href="./assets/styles/napTien.css" rel="stylesheet" type="text/css">
  <link href="./assets/styles/simSoDep.css" rel="stylesheet" type="text/css">
  <link href="./assets/styles/dangKy4g.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="./assets/styles/semantic/semantic.min.css">
  <link href="./assets/fonts/fonts.css" rel='stylesheet'>
</head>

<body>
  <div class="header">
    <div class="headerLeft">
      <div class="headerLogo">
        <img src="assets/images/logo.png">
      </div>
      <div class="hamburger">
        <img onClick="toggleDropdownContainer()" src="assets/images/nav_menu.png">
      </div>
    </div>
    <div class=dropdownContainer>
      <button class="hamburgerDropdown">HOME</button>
      <button class="hamburgerDropdown">SIM SỐ ĐẸP</button>
      <button class="hamburgerDropdown">NẠP TIỀN</button>
      <button class="hamburgerDropdown">ĐĂNG KÝ 4G ONLINE</button>
      <button class="hamburgerDropdown">CHUYỂN SANG MOBI</button>
      <button class="hamburgerDropdown">TIN TỨC</button>
    </div>
    <div class=headerRight>
      <div class="headerUpper">
        <div class="headerHotLine">
          <span> <img src="assets/images/phone.svg"> </span>
          <span class="text">
            Hotline 077 388 5678
          </span>
        </div>
        <div class="HeaderAddress">Điểm giao dịch:</br>249 Minh Phụng, P.2, Q11</div>
      </div>

      <div class="headerLower">
        <button class="navigationButton threeDimensionBlueButton threeDimensionShortWhiteButton ">HOME</button>
        <button class="navigationButton threeDimensionBlueButton threeDimensionShortBlueButton simSoDep">SIM SỐ
          ĐẸP</button>
        <button class="navigationButton threeDimensionBlueButton threeDimensionShortWhiteButton">NẠP TIỀN</button>
        <button class="navigationButton threeDimensionBlueButton threeDimensionShortWhiteButton">ĐĂNG KÝ 4G
          ONLINE</button>
        <button class="navigationButton threeDimensionBlueButton threeDimensionShortWhiteButton">CHUYỂN SANG
          MOBI</button>
        <button class="navigationButton threeDimensionBlueButton threeDimensionShortWhiteButton lienHe">TIN TỨC</button>
      </div>
    </div>
  </div>

  <div class="content">

    <div class="bannerCenter">
      <img src="assets/images/banner_center.png">
    </div>

    <div class="pageAnchor">
      <div class="anchorHome">TRANG CHỦ</div>
      <div class="anchorCurrent">SIM SỐ ĐẸP</div>
    </div>

    <div class="simNumber">
      <div class="title">THÔNG TIN CHI TIẾT SIM SỐ</div>
      <div class="number">0938178000</div>
    </div>

    <div class="simDetail">
      <table class="numberDetail">
        <col width="30%">
        <col width="70%">

        <tr>
          <td>Loại thuê bao</td>
          <td>Trả sau</td>
        </tr>
        <tr>
          <td>Loại số</td>
          <td>Tam hoa giữa, lộc phát</td>
        </tr>
        <tr>
          <td>Giá sim</td>
          <td>299,000 vnd</td>
        </tr>
        <tr>
          <td>Cước thuê bao</td>
          <td>Không mất cước thuê bao</td>
        </tr>
        <tr>
          <td>Cước cam kết</td>
          <td>Không có cước cam kết</td>
        </tr>
        <tr>
          <td>Thời gian cam kết</td>
          <td>Không phải cam kết thời gian sử dụng</td>
        </tr>
        <tr>
          <td>Gói cước khác (không bắt buộc)</td>
          <td>Số thuê bao có thể đăng ký các gói cước ưu đãi: <br> - M79(79.000Vnđ/1 chu kỳ; 1000 phút nội mạng; 4GB tốc
            độ cao; 20 phút gọi ngoại mạng) <br> - MC90(90.000Vnđ/1 chu kỳ; 1000 phút nội mạng cho cuộc gọi dưới 10
            phút; 5GB tốc độ cao;
            20 phút gọi ngoại mạng)<br> - MC149(149.000Vnđ/1 chu kỳ; 1500 phút nội mạng cho cuộc gọi dưới 10 phút; 8GB
            tốc độ cao; 80 phút gọi ngoại mạng)<br> - MC299(299.000Vnđ/1 chu kỳ; 3000 phút nội mạng cho cuộc gọi dưới 10
            phút; 12GB
            tốc độ cao; 300 phút gọi ngoại mạng)<br> PS: Các gói cước ưu đãi có chu kỳ đầu 60 ngày, các chu kỳ tiếp theo
            30 ngày.<br>
          </td>
        </tr>
      </table>

      <div class="numberRegister">

        <div class="title">THÔNG TIN ĐĂNG KÝ KHI MUA SIM</div>

        <div class="registerInfo">
          <label for="name">Họ tên</label> <br>
          <input type="text" class="name">
          </input>
        </div>

        <div class="registerInfo">
          <label for="phone">Số điện thoại liên hệ</label> <br>
          <input type="number" class="phone">
          </input>
        </div>

        <div class="registerInfo">
          <label for="address">Địa chỉ thường trú (nơi ở hiện tại)</label> <br>
          <input type="text" class="address" name="address">
        </div>

        <div class="registerInfo">
          <label for="id">Số Chứng minh thư / Thẻ căn cước (áp dụng cho khách hàng tại Hồ Chí
            Minh.</label> <br>
          <div class="idUpload">
            <input type="text" class="id"></input>
            <div>
              <div class="idUploadRequest">
                <img src="./assets/images/icon_upload.png">
                <label for="file_upload">
                  <input type="file" id="file_upload" style="display: none">
                </label>
                <div class="text">
                  Upload hình ảnh <br> CMND/ Thẻ căn cước
                </div>
              </div>
            </div>
            <div class="idUploadPhoto">
              <img src="" id="photo_1">
            </div>
            <div class="idUploadPhoto">
              <img src="" id="photo_2">
            </div>
          </div>

        </div>
        Nếu nơi cấp CMND/ Thẻ căn cước không ở Hồ Chí Minh, vui lòng cung cấp thêm: <br> 1. Hộ khẩu/ tạm trú.<br> 2.
        Chụp mặt trước, sau của CMND/ Thẻ căn cước.<br> 3. Chụp lại chữ ký.<br>
      </div>
    </div>

  </div>

  <div class="simOrder">
    <div class="title">HƯỚNG DẪN ĐẶT MUA SIM</div>
    <div>Vui lòng chọn hình thức mua sim phù hợp với bạn:</div>

    <div class="orderForm">
      <div class="payment">
        <div class="text">HÌNH THỨC THANH TOÁN:</div>
        <div class="checkBox">
          <div><input type="checkbox" class="COD"></div>
          <div>
            Thanh toán khi nhận sim (COD) <br> Phí ship từ 15 - 25k tùy địa điểm giao sim.
          </div>
        </div>
        <div class="checkBox">
          <div><input type="checkbox" class="ibanking"></div>
          <div>
            Thanh toán chuyển khoản (Internet banking) <br> Miễn phí ship và phí chuyển khoản.
          </div>
        </div>
      </div>

      <div class="delivery">
        <div class="text">HÌNH THỨC GIAO SIM:</div>

        <div class="checkBox">
          <div><input type="checkbox" class="store"></div>
          <div>
            Khách hàng đến trực tiếp cty lấy sim tại: 249 Minh Phụng, phường 2, Quận 11, TP.HCM. <br>
          </div>
        </div>

        <div class="checkBox">
          <div><input type="checkbox" class="delivery"></div>
          <div class="deliveryContainer">
            <span>Giao tận nơi</span>
            <input type="text" class="deliveryAddress" placeholder="Nhập địa chỉ nhận sim tại đây">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttonContainer">
    <button class="orderButton threeDimensionRedButton">MUA NGAY
    </button>
  </div>

  <div class="mapContainer">
    <div class="title">BẢN ĐỒ HƯỚNG DẪN</div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1103.7294265885291!2d106.64268682893557!3d10.755253992458236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e8f24cb2c25%3A0xbbb439ace223acb9!2zMjQ5IE1pbmggUGjhu6VuZywgUGjGsOG7nW5nIDIsIFF14bqtbiAxMSwgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2ssg!4v1568374428819!5m2!1sen!2ssg"
      width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>

  </div>

  <div class="footer">
    <div class="footerUpper">
      <div class="footerLogo">
        <img src="assets/images/logo.png">
      </div>

      <div class="footerInfo">
        <div class="thongTinLienHe">Thông tin liên hệ:</div>
        <div class="congTy">CÔNG TY TNHH TM & DV TÂN TOÀN PHÁT</div>
        <div class="footerAddress">
          <span> <img src="assets/images/icon_location.svg"> </span>
          <span class="text"> 249 Minh Phụng, phường 2, Quận 11, Hồ Chí Minh.</span>
        </div>
        <div class="footerHotline">
          <span> <img src="assets/images/icon_phone.svg"></span>
          <span class="text"> 077 388 5678</span>
        </div>
      </div>
      <div class="footerPlugin">
        <div class="follow">Follow us:</div>
        <div>
          <img class="pluginFacebook" src="assets/images/icon_facebook.png">
          <img class="pluginInstagram" src="assets/images/icon_instagram.png">
        </div>
      </div>
    </div>
    <div class="footerLower">&copy; 2019 Copyright MOBIFONE SAI GON. All right reserved. Site by NATA Media Agency.
    </div>

  </div>

  <script>
    function toggleDropdownContainer() {
      var dropdownContainer = document.getElementsByClassName("dropdownContainer")[0];

      if (dropdownContainer && dropdownContainer.style.display == "none") {
        dropdownContainer.style.display = "flex";
      } else {
        dropdownContainer.style.display = "none";
      }

    }
  </script>
</body>

</html>