@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat/Montserrat-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./Montserrat/Montserrat-Regular.ttf')  format('truetype')
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./Montserrat/Montserrat-SemiBold.ttf')  format('truetype')
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./Montserrat/Montserrat-Bold.ttf')  format('truetype')
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('./Montserrat/Montserrat-ExtraLight.ttf')  format('truetype')
} 

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('./Montserrat/Montserrat-Italic.ttf')  format('truetype')
} 