/* 799px and below */

@media screen and (max-width: 799px) {
/* header */
.header .headerUpper {
justify-content: space-between;
-webkit-box-pack: space-between;
}
.headerUpper {
padding-top: 5px;
padding-bottom: 5px;
background-color: #0081B5;
color: white;
}
.headerLogo img,
.footerLogo img {
max-width: 90%;
}
.hotLine,
.HeaderAddress {
border: none;
}
.HeaderAddress {
padding-right: 5px;
}
.hamburger {
padding: 10px;
}
.headerLower {
display: none;
}
.dropdownContainer {
display: none;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-ordinal-group: 3;
-ms-flex-order: 2;
order: 2;
width: 100%;
padding-bottom: 10px;
}
.hamburgerDropdown {
font-family: "Montserrat-SemiBold";
font-size: 15px;
color: white;
border-top: 1px solid white;
border-bottom: 1px solid white;
background-color: #0081B5;
padding: 10px;
}
.header {
background-image: none;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
}
.headerLeft {
-webkit-box-ordinal-group: 2;
-ms-flex-order: 1;
order: 1;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
display: -webkit-flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}
.headerLeft,
.headerRight {
width: 100%;
}
.headerHotLine img {
display: none;
}
.headerHotLine,
.HeaderAddress {
font-size: 12px;
background-color: #0081B5;
color: white;
font-family: "Montserrat-SemiBold";
}
.headerHotLine .text {
color: white;
font-family: "Montserrat-SemiBold";
}
/* search table */
.searchTable .title {
padding: 10px;
font-size: 15px;
width: 100%;
align-content: center;
}
.searchTable {
padding: 0 10px 10px 10px;
}
.tableRow {
flex-direction: column;
-webkit-flex-direction: column;
justify-content: space-between;
-webkit-box-pack: space-between;
padding: 0;
}
.rowHalf {
width: 100%;
padding-top: 5px;
padding-bottom: 5px;
}
.ui.fluid.input>input::placeholder,
.ui.search.dropdown>input.search,
.ui.selection.dropdown .menu>.item,
.ui.search.dropdown.active>input.search,
.ui.search.dropdown.visible>input.search,
.ui.search.dropdown>.text,
.oneThird {
color: #677897 !important;
font-size: 12px !important;
}
.noPaddingLeft {
padding-left: 0 !important;
}
/* sim table */
.freezedHeaderColumn {
width: 100px;
}
.freezedHeaderColumn,
.freezedBodyColumn {
position: absolute;
}
.freezedBodyColumn div {
background-color: #0081B5;
color: white !important;
}
.simTableBody tr div {
height: 40px;
min-width: 100px;
width: max-content;
}
.simTable .cart {
padding: 5px 10px;
}
.simTable .cart img {
padding-right: 5px;
}
.simTable thead tr th,
.simTable tbody tr td {
font-size: 12px;
}
/* footer */
.footerUpper {
flex-direction: column;
-webkit-flex-direction: column;
align-items: center;
-webkit-box-align: center;
}
.footerInfo,
.footerLogo,
.footerPlugin {
width: 100%;
}
.footerLogo {
padding-left: 28px;
}
.footerPlugin {
padding-left: 48px;
}
.footerInfo {
padding-top: 10px;
padding-bottom: 10px;
}
.footerHotline,
.footerAddress,
.congTy {
font-size: 12px;
}
.thongTinLienHe,
.follow {
font-size: 15px;
}
/* simSoDep page */
.pageAnchor {
margin: 15px 0px 20px 0px;
}
.pageAnchor,
.simNumber,
.simDetail,
.simOrder {
padding: 0px 10px;
}
.simDetail {
flex-direction: column;
-webkit-flex-direction: column;
font-size: 12px;
}
.numberDetail {
margin-right: 0;
margin-bottom: 10px;
}
.simNumber .title,
.simOrder .title,
.numberRegister .title,
.mapContainer .title,
.pageAnchor,
.orderForm .text {
font-size: 15px;
}
.simOrder {
font-size: 12px;
}
.buttonContainer .orderButton, .topUpButton {
font-size: 15px;
padding: 10px 70px;
}
.simNumber .number {
padding: 10px 20px;
margin-left: 20px;
}
div.payment,
div.delivery {
padding: 10px;
}
.buttonContainer {
margin-top: 40px;
margin-bottom: 40px;
}
.tableButton {
margin-bottom: 10px;
}
.mapContainer {
padding: 0 0 20px 0;
}
.numberDetail td,
.numberRegister {
padding: 10px;
}
.threeDimensionBlueButton::before,
.threeDimensionRedButton::before {
height: 10px;
}

/* napTien Page */

.contentContainer {
padding-left: 10px;
padding-right: 10px;
font-size: 12px;
}
.note {
font-family: "Montserrat-Italic";
padding-bottom:  10px;
font-size: 10px;
}

.carrierContainer {
padding: 5px 0;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
flex-wrap: wrap;
}

.carrierContainer label {
padding: 5px 0px 10px 0;

}


.step1, .step2, .luuY {
font-family: "Montserrat-SemiBold";
padding-top: 10px;
padding-bottom: 5px;
}

input[type=text]  {
width: 60%;
}



.paymentPlan {
padding: 5px 0 15px 0;
}
.paymentPlan label {
padding-right: 20px; 
}



.amountContainer {
justify-content: flex-start;
padding: 10px 0 ;
}

.amount{
height: 53px;
width: 86px;
border-radius: 5px;
margin-right: 15px;
margin-bottom: 15px;
line-height: 1em;
}
.bigNumber {
font-size: 12px;
}

.smallNumber, .discountPercent {
font-size: 9px;
}




.luuYText {
font-size: 10px;
}

.topUpContainer {
padding: 20px 0 40px 0;
display: flex;
justify-content: center;
}

/* dangKy4g */

.textContainer {
padding: 0 10px;
display: flex;
flex-direction: column;
font-size: 12px;
}

.textContainer .text div {
padding-bottom: 10px;
width: 100%;
}
.textContainer .text {
  font-size: 10px;
width: 100%;
line-height: 1.3em;
}


.textContainer .promo {
width: 100%;
min-height: 200px;
}

.promo {
  padding: 30px 120px 25px 120px;
}

.promo div {
  font-size: 10px;
}

.packageTable {
padding: 20px 0px;
}

.packageTable thead th {
  font-size: 12px;
}
.packageTable tbody td {
  font-size: 10px;
}
.fourGButton button {
  padding: 5px;
}
.packageTable table tr {
  height: 55px;
}

}


/* 800px and above */

@media screen and (min-width: 800px) {
/* header */
.header .headerUpper {
justify-content: flex-end;
-webkit-box-pack: flex-end;
}
.headerHotLine {
border: 1px solid #707070;
border-right-style: dashed;
border-bottom-left-radius: 5px;
padding-right: 40px;
padding-left: 10px;
color: black;
font-family: "Montserrat-SemiBold";
}
.headerHotLine .text {
color: black;
font-family: "Montserrat-SemiBold";
}
.HeaderAddress {
border: 1px solid #707070;
border-left: none;
border-bottom-right-radius: 5px;
padding-right: 40px;
padding-left: 40px;
font-family: "Montserrat-SemiBold";
color: black;
}
.headerLeft {
margin-left: 20px;
}
.hamburger {
display: none;
}
.dropdownContainer {
display: none;
}
.navigationButton {
display: flex;
display: -webkit-flex;
}
.header {
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
background-image: url("../images/header_pattern.png");
}
/* table */
.searchTable {
padding: 10px 40px 25px 40px;
font-size: 12px !important;
}
.searchTable .title {
padding: 15px 80px;
font-size: 20px;
}
.titleRow {
justify-content: flex-start !important;
-webkit-box-pack: flex-start !important;
align-items: center;
-webkit-box-align: center;
}
.tableRow {
flex-direction: row;
-webkit-flex-direction: row;
justify-content: space-evenly;
-webkit-box-pack: space-evenly;
padding: 5px 0;
}
.rowHalf {
width: 50%;
}
.ui.fluid.input>input::placeholder,
.ui.fluid.input>input::placeholder,
.ui.search.dropdown>input.search,
.ui.selection.dropdown .menu>.item,
.ui.search.dropdown.active>input.search,
.ui.search.dropdown.visible>input.search,
.ui.search.dropdown>.text,
.oneThird {
color: #677897 !important;
font-size: 14px !important;
}
/* sim table */
.dataContent {
padding-left: 40px;
padding-right: 40px;
}
.invisibleTD {
display: none;
}
.freezedHeaderColumn {
width: auto;
}
.freezedHeaderColumn,
.freezedBodyColumn {
position: initial;
display: table-cell;
}
.simTable .cart {
padding: 10px 20px;
}
.simTable .cart img {
padding-right: 10px;
}
.simTable thead tr th,
.simTable tbody tr td {
font-size: 15px;
}
/* footer */
.footerUpper {
flex-direction: row;
-webkit-flex-direction: row;
margin-left: 20px;
margin-right: 40px;
margin-top: 20px;
}
.footerHotline,
.footerAddress,
.congTy {
font-size: 16px;
}
.thongTinLienHe,
.follow {
font-size: 17px;
}
.footerLogo,
.footerPlugin {
width: 25%;
}
.footerLogo img {
width: 100%;
}
.footerInfo {
width: 50%;
}
.footerPlugin {
text-align: right;
}
/* simSoDep page */
.pageAnchor,
.simNumber,
.simDetail,
.simOrder {
padding: 0px 40px;
}
.simDetail {
flex-direction: row;
-webkit-flex-direction: row;
}
.numberDetail {
margin-right: 20px;
}
.simNumber .title,
.simOrder .title,
.numberRegister .title,
.mapContainer .title {
font-size: 17px;
}
.pageAnchor {
font-size: 20px;
}
.orderForm .text {
font-size: 17px;
}
.buttonContainer .orderButton, .topUpButton {
font-size: 20px;
padding: 15px 130px;
}
.simNumber .number {
padding: 15px 50px;
margin-left: 30px;
}
div.payment,
div.delivery {
padding: 20px;
}
.buttonContainer {
margin-top: 60px;
margin-bottom: 60px;
}
.mapContainer {
padding: 0 40px 40px 40px;
}
.numberDetail td,
.numberRegister {
padding: 15px 20px;
}
.owl-carousel .owl-prev {
top: 40%;
left: 5px;
}
.owl-carousel .owl-next {
top: 40%;
right: 5px;
}
.owl-carousel .owl-next i,
.owl-carousel .owl-prev i {
font-size: 30px;
}
.threeDimensionBlueButton::before,
.threeDimensionRedButton::before {
height: 12px;
}

/* napTien Page */

.contentContainer {
padding-left: 200px;
padding-right: 200px;
font-size: 14px;
}

.note {
font-family: "Montserrat-Italic";
padding-bottom:  20px;
font-size: 14px;
}


.step1, .step2, .luuY {
font-family: "Montserrat-SemiBold";
padding-top: 20px;
padding-bottom: 15px;
}

.carrierContainer {
padding-bottom: 10px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: flex-start;
}

.carrierContainer label {
padding: 0px 100px 10px 0;

}

input[type=text]  {
width: 400px;
}



.paymentPlan {
padding: 5px 0 20px 0;

}
.paymentPlan label {
padding-right: 70px;
}


.amountContainer {
padding: 20px 0 0px 0;
}

.amount{
height: 80px;
width: 130px;
border-radius: 5px;
margin-right: 30px;
margin-bottom: 25px;
}

.bigNumber {
font-size: 17px;
}

.mallNumber {
font-size: 12px;
}

.topUpContainer {
padding: 40px 0 50px 0;
}

/* dangKy4g */

.textContainer {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-left: 200px;
}

.textContainer .text div {
padding-bottom: 20px;
}
.textContainer .text {
padding-top: 30PX;
padding-bottom: 20px;
width: 65%;
line-height: 1.5em;

}
div.text.text2 {
  padding-bottom: 40px !important;

}

.textContainer .promo {
width: 35%;
}

.packageTable {
padding: 10px 200px 50px 200px ;
}

.promo {
  padding: 60px 120px 50px 120px;
}
.promo div {
  font-size: 12px;
}
.promo .title {
font-size: 15px;
}
.fourGButton button {
  padding: 8px 20px;
}
.packageTable table tr {
  height: 65px;
}
}