
body {
    font-size: 14px;
    max-width: 1366px;
    margin: auto !important;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 159px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
  }
.headerLeft {
    margin-left: 20px;
}

.headerRight {
    display: flex;
    height: 159px;
    justify-content: space-between;
    flex-direction: column;
}
.headerUpper {
display: flex;
}
.headerLower {
    margin-bottom: 10px;
}
 
#headerHotLine {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding-right: 40px;
    padding-left: 10px;
}
#headerHotLine .text {
    padding-left: 5px;
}
#HeaderAddress {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding-right: 40px;
    padding-left: 40px;
}

.headerLower {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    justify-content: space-between;
    align-items: stretch

}

.navigationButton {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #6B8CAE;
    border: 1px solid #0081B5;
    border-radius: 25px;
    background-color: #ffffff;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#simSoDep {
    color: #ffffff;
    background-color: #0081B5;
}
#lienHe {
margin-right: 0px;
}


.content {
    width: 100%;
    font-family: Montserrat;

}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 210px;
    background-color: #E6EFFA;
    font-family: Montserrat;
    
}
.footerUpper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 20px;

}
.footerInfo {
    display: flex;
    flex-grow: 2;
    margin-left: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.footerInfo div {
    margin-bottom: 8px;
}

.footerLower {
    align-self: center;
    margin-bottom: 20px;
    font-size: 11px;
}
#thongTinLienHe {
    width: 318.5px;
    height:25px;
    font-size: 17px;
    color: #0081B5;
    margin-left: 37px;
    border-bottom: 1px solid #0081B5;
}
#congTy {
    font-size: 16px;
    color: #677897;
    margin-left: 37px;

}
#footerHotline, #footerAddress {
    color: #B0B9CA;
    font-size: 16px;
}
#footerHotline .text, #footerAddress .text {
    padding-left: 10px;
}

#follow {
    width: 318.5px;
    height:25px;
    font-size: 17px;
    color: #0081B5;
    border-bottom: 1px solid #0081B5;
    margin-bottom: 20px;
}
#pluginFacebook {
    margin-right: 20px;
}
.searchTable {
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
}

.tableRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 0;
}

.titleRow {
    justify-content: flex-start;
    margin-bottom: 10px;
}

.title {
    border: 1px solid #707070;
    border-radius: 5px;
    background-color: #0081B5;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 100px;
}

.rowHalf {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.oneThird {
    display: flex;
    width: 33.33%;
    justify-content: flex-end;
    padding: 0 10px;
}
.twoThird {
    display: flex;
    width: 66.67%;
    padding: 0 10px;
}

.tableButton {
    color: white;
    background-color: #677897;
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableButton img {
    padding-right: 10px;
}

.ui.input.fluid {
    width: 100%;
}

.dataContent {
    padding-left: 40px;
    padding-right: 40px;
}

.simTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.simTable thead tr th {
    background-color: #DA251D;
    color: white;
    padding: 15px 0;
}

.simTable tbody tr td {
    padding: 15px 0;
}

.simTable tbody tr {
    border-bottom: 1px solid #0081B5;
}

.simTable .cart-cell {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.simTable .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0081B5;
    border-radius: 100px;
    padding: 10px 20px;
    margin-right: 20px;
}

.simTable .cart img {
    padding-right: 10px;
}