/* 799px and below */

@media screen and (max-width: 799px) {
    /* header */
    .header .headerUpper {
        justify-content: space-between;
    }
    .headerUpper {
        padding: 10px;
    }
    .hotLine,
    .HeaderAddress {
        border: none;
    }
    .hamburger {
        display: flex;
        padding: 10px;
    }
    .headerLower {
        display: none;
    }
    .header {
        background-image: none;
        flex-direction: column;
    }
    .headerLeft {
        order: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .headerLeft,
    .headerRight {
        width: 100%;
    }
    .headerHotLine,
    .HeaderAddress {
        font-size: 13px;
    }
    /* table */
    .searchTable {
        padding: 10px;
    }
    .searchTable .title {
        font-size: 16px;
        padding: 5px;
        width: 100%;
        align-content: center;
    }
    .tableRow {
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
    .rowHalf {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .searchTable {
        font-size: 12px !important;
    }
    .ui.fluid.input>input::placeholder {
        font-size: 12px !important;
    }
    .noPaddingLeft {
        padding-left: 0 !important;
    }
    /* footer */
    .footerUpper {
        flex-direction: column;
    }
}


/* 800px and above */

@media screen and (min-width: 800px) {
    /* header */
    .header .headerUpper {
        justify-content: flex-end;
    }
    .headerHotLine {
        border: 1px solid #707070;
        border-right-style: dashed;
        border-bottom-left-radius: 5px;
    }
    .HeaderAddress {
        border: 1px solid #707070;
        border-left: none;
        border-bottom-right-radius: 5px;
    }
    .headerLeft {
        margin-left: 20px;
    }
    .hamburger {
        display: none;
    }
    .navigationButton {
        display: flex;
    }
    .header {
        flex-direction: row;
    }
    .header .headerLower {
        align-items: flex-end;
    }
    .header {
        background-image: url("../images/header_pattern.png");
    }
    .headerHotLine {
        padding-right: 40px;
        padding-left: 10px;
    }
    .HeaderAddress {
        padding-right: 40px;
        padding-left: 40px;
    }
    /* table */
    .searchTable {
        padding: 25px 40px;
    }
    .searchTable .title {
        font-size: 20px;
        padding: 10px 80px;
    }
    .titleRow {
        justify-content: flex-start !important;
        align-items: center;
    }
    .tableRow {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5px 0;
    }
    .rowHalf {
        width: 50%;
    }
    .ui.fluid.input>input::placeholder {
        font-size: 14px !important;
    }
    /* footer */
    .footerUpper {
        flex-direction: row;
    }
}