
body {
    font-family: Monserrat;
    font-size: 14px;
    color: #677897 !important;
}

.pageAnchor, .simNumber, .simDetail, .simOrder {
padding: 0px 40px;
}

.pageAnchor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #0081B5;
    font-size: 20px;
    font-family: Montserrat-Bold;
    margin:30px 0px 40px 0px;
}
.anchorHome {
    border-right: 2px solid #0081B5;
    padding-right: 15px;
}

.anchorCurrent {
    padding-left: 15px;
}

.simNumber {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.simNumber .number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF0000;
    color: #707070;
    border-radius: 100px;
    padding: 15px 50px;
    font-family: Montserrat-SemiBold;
    font-size: 20px;
    margin-left: 30px;
    }
    
.simNumber .title, .simOrder .title, .numberRegister .title, .mapContainer .title  {
    font-family: Montserrat-Bold;
    font-size:17px;
    color: #677897;
}
    
.simDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.numberDetail {
    display: flex;
}


.numberDetail td {
    border: 0.5px solid #707070;
    padding: 15px 20px;
    border-collapse: collapse;
}

table {
    display: flex;
    border-collapse: collapse;
    margin-right: 20px;
}

.numberRegister{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid  #707070;
    border-radius: 5px;
    padding: 15px 20px;
}

.numberRegister .title  {
    border-bottom: 1px solid #0081B5;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.registerInfo input[type=text] {
    width: 100%;
    background-color: #F5F3F3;
    margin: 5px 0px;
    border: 1px solid #F5F3F3;
    border-radius: 5px;
    line-height: 200%;
}
.idUpload input[type=text] {
    width: 70%
}

input[type=text] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

div.registerInfo {
    margin-bottom: 10px;
}

.idUpload{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.idUpload img {
    max-width: 15%;
    max-height: 15%;
}

.idUpload .text {
    font-family: Montserrat-Italic;
    font-size: 8px;
    line-height: normal;
    padding-left: 10px;
}

.idUpload div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.simOrder {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    font-family: Montserrat;
}

.orderForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 20px;

}

.orderForm .payment, .orderForm .delivery {
    display: flex;
    width: 49%;
    flex-direction: column;
    border: 1px solid #707070;
    padding: 20px;
} 

.orderForm .text {
    font-size: 17px;
    font-family: Montserrat-SemiBold;
    padding: 0 0 15px 0;
}

.checkBox  {
    display: flex;
    flex-direction: row;
    align-items: center ;
}
.checkBox div {
    padding: 10px;
}

.deliveryContainer {
    width: 100%;
}

.checkBox input[type=text] {
width: 100%;
background-color: #F5F3F3;
margin: 5px 0px;
border: 1px solid #F5F3F3;
border-radius: 5px;
line-height: 200%;
}

#name, #phone, .address, #id, #deliveryAddress {
    font-family: Montserrat-SemiBold;
    font-size: 17px;
}

.checkBox input::placeholder {
    font-family: Montserrat-Italic;
    font-size: 11px;
    color: #677897;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 70px 0;
}

.buttonContainer .orderButton {
    font-family: Montserrat-Bold;
    font-size: 20px;
    color: #ffffff;
    background-color: #DA251D;
    padding: 15px 130px;
    border-radius: 20px; 
}

.mapContainer {
    padding: 40px;
}

.mapContainer .title {
    padding-bottom: 10px;
}
