body {
    font-family: 'Montserrat';
    font-size: 14px;
    max-width: 1366px;
    margin: auto !important;
    display: -webkit-box !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #677897
}

.header {
    width: 100%;
    /* display: -webkit-box !important;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Montserrat";
}

.bannerCenter img {
    width: 100%;
    height: auto;
}


/* header */

.headerRight {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-box-pack: space-between;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.headerUpper {
    display: flex;
    display: -webkit-flex;
    font-size: 15px;
}

.headerHotLine {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    background-color: #ffffff;
    color: black;
}

.headerHotLine .text {
    padding-left: 5px;
}

.HeaderAddress {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    background-color: #ffffff;
    color: black;
}

.headerLower {
    margin-bottom: 10px;
    padding-top: 50px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-right: 40px;
    justify-content: space-between;
    -webkit-box-pack: space-between;
    align-items: stretch;
    -webkit-box-align: stretch;
}

.navigationButton {
    font-family: "Montserrat-Bold";
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    text-align: center;
    color: #6B8CAE;
    border: 1px solid #0081B5;
    border-radius: 25px;
    background-color: #ffffff;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navigationButton.lienHe {
    margin-right: 0px;
}

.simSoDep {
    color: #ffffff;
    background-color: #0081B5;
}

.lienHe {
    margin-right: 0px;
}

.content {
    width: 100%;
    font-family: "Montserrat";
}


/* footer */

.footer {
    /* display: -webkit-box !important;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    background-color: #E6EFFA;
    font-family: "Montserrat";
}

.footerUpper {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-box-pack: space-between;
}

.footerInfo {
    display: flex;
    display: -webkit-flex;
    flex-grow: 2;
    margin-left: 10px;
    align-items: flex-start;
    -webkit-box-align: flex-start;
    justify-content: center;
    -webkit-box-pack: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.footerLower {
    color: #2A4560;
    padding: 40px 0 20px 0px;
    font-size: 11px;
    text-align: center;
}

.thongTinLienHe {
    font-family: "Montserrat-SemiBold";
    height: 25px;
    color: #0081B5;
    margin-left: 37px;
    margin-bottom: 5px;
    border-bottom: 1px solid #0081B5;
}

.congTy {
    font-family: "Montserrat-SemiBold";
    color: #677897;
    margin-left: 37px;
    margin-bottom: 5px;
}

.footerHotline,
.footerAddress {
    display: flex;
    display: -webkit-flex;
    color: #B0B9CA;
    align-items: center;
    -webkit-box-align: center;
}

.footerHotline .text,
.footerAddress .text {
    padding-left: 15px;
}

.follow {
    display: inline-block;
    font-family: "Montserrat-SemiBold";
    height: 25px;
    color: #0081B5;
    border-bottom: 1px solid #0081B5;
    margin-bottom: 20px;
}

.pluginFacebook {
    margin-right: 15px;
}


/* search */

.searchTable {
    color: #677897;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.tableRow {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
}

.titleRow {
    margin-bottom: 10px;
}

.searchTable .title {
    font-family: "Montserrat-SemiBold";
    border: none;
    border-radius: 5px;
    background-color: #0081B5;
    color: #ffffff;
}

.rowHalf {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-box-align: center;
}

.oneThird {
    display: flex;
    display: -webkit-flex;
    font-weight: bold;
    width: 33.33%;
    justify-content: flex-end;
    -webkit-box-pack: flex-end;
    padding: 0 10px;
}

.twoThird {
    display: flex;
    display: -webkit-flex;
    font-weight: bold;
    width: 66.67%;
    padding: 0 10px;
}

.tableButton {
    font-family: "Montserrat-SemiBold";
    color: white;
    background-color: #0081B5;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;
}

.tableButton img {
    padding-right: 10px;
}


/* overrides */

.ui.input.fluid {
    width: 100%;
}

.ui.fluid.input>input,
.ui.search.selection.dropdown>input.search {
    padding: 5px 10px !important;
    line-height: 20px !important;
}

.ui.input>input,
.ui.fluid.input>input::placeholder {
    font-family: 'Montserrat' !important;
    color: #677897 !important;
    font-weight: bold;
}

.ui.fluid.input>input::placeholder {
    opacity: 0.5;
}

.ui.default.dropdown:not(.button)>.text,
.ui.dropdown:not(.button)>.default.text {
    opacity: 0.5;
}

.ui.search.dropdown>input.search,
.ui.selection.dropdown .menu>.item,
.ui.search.dropdown.active>input.search,
.ui.search.dropdown.visible>input.search,
.ui.search.dropdown>.text {
    color: #677897 !important;
}

.dataContent {
    overflow: auto;
}


/* sim table */

.simTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.simTable thead tr th {
    background-color: #0081B5;
    color: white;
    font-family: "Montserrat-SemiBold";
}

.simTable tbody tr td {
    color: #677897;
    padding-top: 15px;
    padding-bottom: 15px;
}

.simTable tbody tr {
    border-bottom: 1px solid #0081B5;
}

.simTable .cart-cell {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    justify-content: flex-end;
    -webkit-box-pack: flex-end;
}

.simTable .cart {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    color: white;
    background-color: #0081B5;
    border-radius: 100px;
    padding: 10px 20px;
    margin-right: 20px;
}

.simTable .cart img {
    padding-right: 10px;
}


/* pagination */

.pagination {
    padding-top: 50px;
    display: flex;
    display: -webkit-flex;
    font-size: 12px;
    font-family: "Montserrat" !important;
}

.paginationDiv {
    flex: 1;
    -webkit-flex: 1;
}

.paginationButtons {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;
}

.paginationButtons button {
    font-family: "Montserrat" !important;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    margin: 0 5px;
    border-radius: 2px;
    padding: 5px;
}

.paginationButtons .previous {
    color: #0081B5;
    border: 1px solid #0081B5;
}

.paginationButtons .previous img {
    padding-right: 5px;
}

.paginationButtons .next {
    background-color: #0081B5;
    color: white;
    border: 1px solid #0081B5;
}

.paginationButtons .next img {
    padding-left: 5px;
}

.pageNumbers {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
}

.pageNumbers input[type=text] {
    font-family: "Montserrat" !important;
    width: 28px;
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #707070;
    border-radius: 2px;
    text-align: center;
}

.pageNumbers img {
    padding-left: 5px;
}

.owl-carousel .owl-prev {
    position: absolute;
    top: 35%;
    left: 5px;
}

.owl-carousel .owl-next {
    position: absolute;
    top: 35%;
    right: 5px;
}

.owl-carousel .owl-next i,
.owl-carousel .owl-prev i {
    font-size: 15px;
}