/* 799px and below */
@media screen and (max-width: 799px) {
   
    .header .headerUpper {
        justify-content: space-between;
    }

    .hotLine, .HeaderAddress {
        border: none;
    }
    .hamburger {
        display: flex;
        
    }
    .navigationButton {
        display: none;
    }
    .header{
        background-image: none;
    }
}

/* 800px and above */
@media screen and (min-width: 800px) {
    
    .header .headerUpper {
        justify-content: flex-end;
    }

    .headerHotLine {
        border: 1px solid #707070;
        border-right-style: dashed;
        border-bottom-left-radius: 5px;
    }

    .HeaderAddress {
        border: 1px solid #707070;
        border-left: none;
        border-bottom-right-radius: 5px;
    }
    .hamburger {
        display: none;
    }
    .navigationButton {
        display: flex;
    }
    .header .headerLower {
        align-items: flex-end;

    }
    .header {
        background-image: url("../images/header_pattern.png");
}
