/* tintuc */

.newsList {
  color: black !important;
}

.newsCard.news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #677897;
}

.newsImage {
  margin-left: 0;
  width: 30%;
}

.newscontentContainer {
  width: 66%;
}

/* tintuc-detail */

/* .newscontentContainer .newsTitle  */

.news {
  color: black !important;
  display: flex;
  flex-direction: column;
}

.newsTitle,
.newsSubTitle {
  font-family: "Montserrat-SemiBold";
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.promotionNote {
  white-space: pre-line;
}

.otherNews {
  border-top: 1px solid #677897;
}

.otherNews .title {
  font-family: "Montserrat-SemiBold";
}

ol,
li {
  color: #0081b5 !important;
}
